<div id="gradient-background" class="container-fluid">
  <div class="row">
    <header class="col-xs-12">
      <h1>Sketch Phrase!</h1>
    </header>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="col-xs-offset-1 col-xs-11"><h3>How to play:</h3>
        <li>Step 1</li>
        <li>Step 2</li>
        <li>Step 3</li>
        <li>Step 4</li>
        <li>Step 5</li>
        <li>Step 1</li>
        <li>Step 2</li>
        <li>Step 3</li>
        <li>Step 4</li>
        <li>Step 5</li>
        <li>Step 1</li>
        <li>Step 2</li>
        <li>Step 3</li>
        <li>Step 4</li>
        <li>Step 5</li>
        <li>Step 1</li>
        <li>Step 2</li>
        <li>Step 3</li>
        <li>Step 4</li>
        <li>Step 5</li>
        <li>Step 1</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="fixed-bottom col-xs-12">
      <div class="col-xs-12">
        <h3 class="player-count">5 players</h3>
      </div>
      <div class="col-xs-12">
        <%= link_to "START!", games_path, class: "button" %>
      </div> 
    </div>
  </div>
</div>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->


<fb:login-button autologoutlink="true" scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

<div id="status"></div>
