<!DOCTYPE html>

<!-- <body id="linearBg2"> -->
<body id="gradient-background">
  <div class="container-fluid">
  <div class="row">
    <header class="col-xs-12">
      <h1>Sketch Phrase!</h1>
    </header>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="col-xs-offset-1 col-xs-11"><h3>How to play:</h3>
        <li>Step 1</li>
        <li>Step 2</li>
        <li>Step 3</li>
        <li>Step 4</li>
        <li>Step 5</li>
        <li>Step 1</li>
        <li>Step 2</li>
        <li>Step 3</li>
        <li>Step 4</li>
        <li>Step 5</li>
        <li>Step 1</li>
        <li>Step 2</li>
        <li>Step 3</li>
        <li>Step 4</li>
        <li>Step 5</li>
        <li>Step 1</li>
        <li>Step 2</li>
        <li>Step 3</li>
        <li>Step 4</li>
        <li>Step 5</li>
        <li>Step 1</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="fixed-bottom col-xs-12">
      <div class="player-count col-xs-12">
        <h3>5 Players</h3>
      </div>
      <button type="button" class="col-xs-offset-3 col-xs-6">BEGIN!</button>
    </div>
  </div>
</div>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->

<div class="container-fluid">

<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

<div id="status">
</div>

</div>