<div class="container-fluid">
<!-- Button to share on facebook/twitter -->
	<div class="row">
		<div class="fixed-bottom col-xs-12">
			<div class="col-xs-6">
				<%= button_to "SAVE", games_path, class: "button" %>
			</div>
			<div class="col-xs-6">
				<%= button_to "SHARE", games_path, class: "button" %>
			</div>
		</div>
	</div> 
</div>
