<div class="container-fluid">
<!-- Button to share on facebook/twitter -->
	<div>
		<img src="" alt="" id="results">
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
	</div>
	<div class="row">
		<div class="fixed-bottom col-xs-12">
			<div class="col-xs-12">
				<%= button_to "SAVE", games_path, class: "button" %>
				<br>
			</div>
			<div class="col-xs-12">
				<%= button_to "SHARE", games_path, class: "button" %>
			</div>
		</div>
	</div> 
</div>
