

<!-- Button for Eraser and Stroke width -->
<div>
	<button type="button" class="btn btn-default" id="eraser">Erase</button>
	<button type="button" class="btn btn-default" id="small">Small</button>
	<button type="button" class="btn btn-default" id="medium">Medium</button>
	<button type="button" class="btn btn-default" id="large">Large</button>
</div>

<!-- Canvas for Drawing -->
<canvas id="myCanvas" data-paper-resize="true"" keepalive="true"></canvas>

