

<div class="container-fluid">
<!-- Buttons for eraser, stroke width, and clear -->
	<div class="row">
		<div class="fixed-top col-xs-12">
			<button type="button" id="eraser" class="col-xs-2 draw"><%= image_tag("icons/sketch_phrase_eraser.svg") %></button>
			<button type="button" id="small" class="col-xs-2 draw"><%= image_tag("icons/sketch_phrase_pencil_small.svg") %></button>
			<button type="button" id="medium" class="col-xs-2 draw"><%= image_tag("icons/sketch_phrase_pencil_medium.svg") %></button>
			<button type="button" id="large" class="col-xs-2 draw"><%= image_tag("icons/sketch_phrase_pencil_large.svg") %></button>
			<button type="button" id="clear" class="col-xs-4 draw">Clear</button>
			<!-- <button type="button" onclick="" id="text" class="col-xs-4 draw">Text</button> -->
			<div>
			</div>
		</div>
	</div>
<!-- Canvas for drawing -->
	<div class="row">
		<canvas id="myCanvas" width="500" height="500" keepalive="true"></canvas>

	</div>

<!-- Button for done/next turn -->
	<div class="row">
		<div class="fixed-bottom col-xs-12">
		<button type="button" id="done" onclick="scrollPage()" class="button">Done</button>
		</div>
	</div> 
</div>


<div id="myModal" class="modal container fade in">
	<div class="modal-title col-xs-12">
		<br>
		<br>
		<br>
		<h1>Player 1
<!-- should be turn-count eventually, not "1" -->
		</h1>
  	<br>
  	<br>
  	<br>
  	<h3>ready?</h3>
  	<br>
  	<br>
  	<br>
  	<br>
  	<br>
    <button type="button" data-dismiss="modal" class="button">GO!</button>
   </div>
</div>

