<div class="container-fluid">
	<!-- Button for Eraser and Stroke width -->
	<div class="row">
		<div class="col-xs-12 fixed-top">
			<button type="button" id="eraser" class="col-xs-2 draw">Erase</button>
			<button type="button" id="small" class="col-xs-2 draw">Small</button>
			<button type="button" id="medium" class="col-xs-2 draw">Medium</button>
			<button type="button" id="large" class="col-xs-2 draw">Large</button>
			<button type="button" id="clear" class="col-xs-2 draw">Clear</button>

		</div>
	</div>
<!-- Canvas for Drawing -->
	<div class="row">
		<canvas id="myCanvas" width="500" height="500" keepalive="true"></canvas>
	</div>