<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container-fluid">
	<!-- Button for Eraser and Stroke width -->
	<div class="row">
		<div class="col-xs-12">
			<button type="button" id="eraser" class="col-xs-3 top-nav button">Erase</button>
			<button type="button" id="small" class="col-xs-3 top-nav button">Small</button>
			<button type="button" id="medium" class="col-xs-3 top-nav button">Medium</button>
			<button type="button" id="large" class="col-xs-3 top-nav button">Large</button>
			<button type="button" class="btn btn-default" id="clear">Clear</button>
		</div>
	</div>

<!-- Canvas for Drawing -->
	<div class="row">
		<canvas id="myCanvas" resize="true" keepalive="true"></canvas>
	</div>
</div>

